@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.row {
    margin: 0;
}

/******************************BACKGROUND COLOURS*******************************/

.bluebackground {
    background-color: #38405F;
}

.whitebackground {
    background-color: #fafafa;
}

.pinkbackground {
    background-color: #f05365;
}

/******************************HEADER*******************************/

.btn-success {
    border-color: #f05365;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    max-height: 50px;
    margin-top: 35px;
}

.btn-success>a {
    color:#fafafa;
    text-decoration: none;
}

.btn-success:hover {
    border-color: #fabc2a;
    background-color: #fabc2a;
}


.navbar-brand > img {
    max-height: 100px;
    max-width: 100px;
    padding: 10px;
}


.mainheading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    /*text-transform: uppercase;*/
    color: #191919;
    font-size: 35px;
}

/******************************NAVBAR*******************************/
.container-fluid {
    padding: 0;
}

.navbar {
    padding:0;
}

.nav-item {
    width: 150px;
    margin: auto;
}

.navbar-dark .navbar-nav .nav-link {
    text-align: center;
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.nav-item.active {
    color: #38405F;
    background-color: #fafafa;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #38405F;
    background-color: #fafafa;
}

.nav-link:hover {
    color: #fafafa;
    background-color: rgba(240,83,101,0.85);
}

.dropdown-menu>a:hover {
    color: #fafafa;
    background-color: rgba(240,83,101,0.85);
}

.dropdown-item {
    text-align: center;
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.navbar-toggler {
    margin: auto;
}

/***********************************HERO IMAGE********************************/


.heroimage {
    min-height: 500px;

    background: url("../images/PhysioBanner.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.block-divider {
    width: 150px;
    height: 5px;
    border: 0;
    background-color: #38405F;
}

.image-header {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #191919;
    font-size: 35px;
}

.jumbotron {
    background-color: rgba(120,161,187,0.5);
    border-radius: .3rem;
}

.jumbotext {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #191919;
    font-size: 20px;
}

.btn-call {
    border-color: #f05365;
    font-family: "Roboto", sans-serif;
    color: #fafafa;
    font-size: 20px;
    font-weight: 500;
    max-height: 50px;
    margin-top: 10px;
}

.btn-call:hover {
    border-color: #fabc2a;
    background-color: #fabc2a;
}

/***********************************Features********************************/

.container-features {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.btn-pink {
    background-color: #f05365;
    color: #fafafa;
}

.btn-pink:hover {
    border-color: #fabc2a;
    background-color: #fabc2a;
}

/***********************************About Content********************************/

.container-about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.bio {
    width: 50%;
}

.headshot>img {
    display:block;
    margin: auto;
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius: 50%;
    border-color: #f05365;
    border-style: solid;
    border-width: 5px;
}

.bio>h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /*text-transform: uppercase;*/
    color: #181818;
    font-size: 30px;
}

.bio>h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /*text-transform: uppercase;*/
    color: #181818;
    font-size: 25px;
    margin-bottom: 50px;
}

.wide-block-divider {
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
}


/***********************************Footer********************************/
.footercontent {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footercontent>h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #fafafa;
    font-size: 20px;
}

.footercontent>p {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color: #fafafa;
    font-size: 15px;
    margin-bottom: 1px;
}

.footercontent>p>a {
    color: #fafafa;
}

.footercontent>h2>a {
    color: #fafafa;
}

.footercontent>h2>a:hover {
    color:rgba(240,83,101,0.85);
}
.googlemap {
    padding-top: 20px;
    padding-right: 40px;
}

.block-divider-white {
        background-color: #fafafa;
}

/***********************************Mobile Content Adjustment********************************/

@media (max-width: 767.98px) {
    .mainheading {
    font-size: 25px;
}

.navbar-brand > img {
    max-height: 70px;
    max-width: 70px;
    padding: 10px;
}

.googlemap {
    padding-top: 20px;
    padding-right: 10px;
}

.nav-item {
    width: 100%;
    margin: auto;
}

}


@media (max-width: 575.98px) { 
.mainheading {
    font-size: 20px;
}

.navbar-brand > img {
    max-height: 60px;
    max-width: 60px;
    padding: 5px;
}
 }

